html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
body {
  padding: 1rem;
}

:root {
  --link-color: #2d9cdb;
  --p-color: #4f4f4f;
}

.max-width {
  max-width: 1500px;
}
.max-width-2 {
  max-width: 1000px;
}
.margin-auto {
  margin: 0 auto;
}
.margin-auto-top {
  margin: 8rem auto;
}
.flex {
  display: flex;
  gap: 1.5rem;
}

/* navbar section */
.navbar {
  justify-content: space-between;
}

.nav-logo {
  margin: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: default;
}

.mobile-nav-toggle {
  display: none;
}

.navbar-nav {
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: black;
  margin-inline-end: 0.75em;
  font-weight: bold;
}

.sr-only {
  display: none;
}

@media (max-width: 590px) {
  .navbar-nav {
    align-items: start;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(10vh, 5rem) 2rem;

    background-image: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .navbar-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    background-repeat: no-repeat;
    width: 2.3rem;
    aspect-ratio: 1;
    border: none;
    top: 2rem;
    right: 2rem;
  }
  .mobile-nav-toggle[aria-expanded="false"] {
    background: url("images/menu_FILL0_wght400_GRAD0_opsz48.svg");
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("images/close_FILL0_wght400_GRAD0_opsz48.svg");
    position: fixed;
  }
}

/* top main section */
.p-link {
  color: var(--link-color);
}
.hero-text {
  font-weight: 500;
  font-size: clamp(2rem, 2.5vw, 3rem);
  margin: 2rem 0;
  max-width: 30rem;
}
.hero-image {
  border-radius: 1rem;
}
.paragraph {
  color: var(--p-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  max-width: 22rem;
}
.contact-hero {
  margin: 2rem 0 0.5rem;
}
.e-input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-width: 18.75rem;
  border: none;
  background-color: #f2f2f2;
}

/* services section */
.res-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  place-items: center;
  padding: 2rem;
  grid-gap: 1rem;
}
.card {
  max-width: 21.25rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.1s;
}
.card:hover {
  -webkit-box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}
.icons {
  color: #f2f2f2;
  font-size: 2rem;
}
.back-icons {
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem;
}
.back-icons-1 {
  background-color: #2d9cdb;
}
.back-icons-2 {
  background-color: #27ae60;
}
.back-icons-3 {
  background-color: #eb5757;
}
.card-head {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}
.card-btn {
  color: #828282;
  background-color: #e0e0e0;
  padding: 0.8em 1.3em;
  border-radius: 1rem;
  display: inline-block;
  margin: 1rem 0;
  transition: 0.1s;
}
.card-btn:hover {
  color: #f2f2f2;
  background-color: var(--link-color);
}
